/* Header.module.css */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--primary-color);
  color: var(--background);
}

.title {
  font-size: 1.5rem;
  font-weight: 700;
}

@media (max-width: 768px) {
  .header {
    padding: 0.5rem 1rem;
  }

  .title {
    font-size: 1.2rem;
  }
}
